<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del request HTTP GET -URL</title>
</head>
<body>
	<h1>Enviar parametros del request HTTP GET -URL</h1>

	<ul>
		<li><a
			th:href="@{/params/string(texto='Hola mauricio enviando valor')}">/params/string?texto=
				Hola Mauri</a></li>
		<li><a
			th:href="@{/params/string(texto='Hola Diego Gato enviando valor')}">/params/string?texto=
				Hola Diego gato</a></li>

		<li><a
			th:href="@{/params/mix-params(saludo='bienvenido Juan', numero = 7)}">/params/mix-params?saludo=
				bienvenido Juan & numero = 7 </a></li>
		<li><a
			th:href="@{/params/mix-params-request(saludo='bienvenido Florencia', numero = 8)}">/params/mix-params-request?saludo=
				bienvenido Florencia & numero = 8 </a></li>
	</ul>





</body>
</html>