<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola Charito '">/variables/string/Hola
				Charito!!!!!!!</a></li>

		<li><a th:href="@{/variables/string/} + 'Hola Jose Luis '">/variables/string/Hola
				Chapas!!!!!!!</a></li>
		<li><a th:href="@{/variables/string/} + 'Hola Gloria' + '/ +7 '">/variables/string/Hola
				Gloria!!!!!!!/7</a></li>

	</ul>





</body>
</html>